.navbar {
  padding: 23px 14px !important;
}
.nav-link {
  padding: 8px 16px !important;
}

#card-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap:45px
}
.nav-link{
  color: #0D6EFD;
}

@media screen and (max-width:992px) {
  #card-grid{
    grid-template-columns: repeat(1,minmax(0,1fr));
  }

  .card {
    margin: auto;
    width: 100% !important;
  }
}
